@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Poppins, Open Sans, Arial, Helvetica, sans-serif;

}

.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 30rem;
    height: 30rem;
}

.gridBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    padding: 10px;
    font-size: 5rem;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#resetButton {
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    color: black;
    border: solid black;
    font-size: 1.1rem;
    margin: 10px;
    transition: all .5s ease;
}

#resetButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

